<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TEConnect</title>
    <link rel="stylesheet" type="text/css" href="/views/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/views/css/bootstrap.min.css">
    <script type="text/javascript" src="/views/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1>TEConnect</h1>
    <p><a href="/views/Usuario.php">Usuarios</a></p>
    <p><a href="/views/Ambito.php">Ámbitos</a></p>
    <p><a href="/views/DetalleAmbito.php">Detalle de Ambitos</a></p>
    <p><a href="/views/Interes.php">Intereses</a></p>
    <p><a href="/views/Gusto.php">Gustos</a></p>
    <p><a href="/views/Actividad.php">Actividades</a></p>
    <p><a href="/views/Conexion.php">Conexiones</a></p>
    <p><a href="/views/Mensaje.php">Mensajes</a></p>
    <br>
    <a href="/views/Logout.php">Logout</a>
</body>
</html>
