html, body {
    height: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
